* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}


html {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

body {
    background-image: linear-gradient(#fe6433, #ed194b);
}

.switch {
    position: absolute;
    font-size: 13px;
    cursor: pointer;
    box-shadow: black 0 0 4px;
    border-radius: 10px;
    padding: 4px
}

.switch:hover {
    opacity: 0.8;
}

.switch--click {
    padding: 3px;
}

.main ,.musicPlayback, .musicPlayback__songName {
    display: flex;
    flex-direction: column;
}

.main {
    width: 740px;
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.main--2 {
    background-image: linear-gradient(#fe6433, #ed194b);
    flex-direction: column !important;
    display: flex !important;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: visible;
    width: 100% !important;
}

.musicPlayback,
.listSong,
.listSong .song{
    box-shadow: black 0 0 4px;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

.musicPlayback {
    background-color: #f5d1d1;
}

.musicPlayback--2{
    position: fixed;
    top: 20px;
    z-index: 1;
}

.musicPlayback--scroll {
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 360px;
}

.musicPlayback__songName {
    margin: auto;
    color :#ed194b;
    font-size: 14px;
}

.musicPlayback__songName h2 {
    display: block;
    color: black;
    font-size: 23px;
    margin: 10px 0 10px 0;
    text-align: center;
    width: 320px;
}

.musicPlayback__songName h4 {
    text-align: center;
    font-size: 12.5px;
}

.musicPlayback__songImage {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    margin: 0 auto;
    border: 1px solid;
}

.musicPlayback__control {
    display: flex;
    justify-content: space-around;
    height: 35px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.control__return,
.control__previousSong,
.control__nextSong ,
.control__random {
    cursor: pointer;
    color: #5f5e60;
}

.control__return i,
.control__previousSong i,
.control__nextSong i,
.control__random i {
    font-size: 20px;
}

.activeBtn {
    color: #ed194b;
}

.activeSong {
    background-image: linear-gradient(#fe6433, #ed194b) !important;
    border: #000000 1px solid;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px #303030;
}

.control__playSong,
.control__playSong .playSong__background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control__playSong .playSong__background{
    background-color: #ed194b;
    border-radius: 100px;
    width :50px;
    height: 50px;
    cursor: pointer;
}

.control__playSong .playSong__background i {
    color: #fff;
    font-size: 25px;
}

.control__playSong .playSong__background:active {
    box-shadow: #ed194b 0 0 5px;
    color: aliceblue;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 65%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: rgb(255, 255, 255);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #771CFF;
    border: 0px solid #2497E3;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #ED194B;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #ffffff;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #771CFF;
    border: 0px solid #2497E3;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #ED194B;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #cbc6d1;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #cbc6d1;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #771CFF;
    border: 0px solid #2497E3;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #ED194B;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #cbc6d1;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #cbc6d1;
  }
  
.musicPlayback__bar {
    display: flex;
    justify-content: space-between;
}

.musicPlayback__volume input[type=range]{
    width: 60px;
}

.musicPlayback__process input[type=range]{
    width: 260px;
}

.musicPlayback__time {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
}

.listSong {
    overflow-y: scroll;
    background-color: #f5d1d1;
}
.listSong::-webkit-scrollbar {
    display: none;
}

.listSong--2 {
    padding: 0;
    overflow-y:initial !important;
    margin-top: 440px;
    margin-bottom: 20px;
    padding: 10px
}

.listSong--1{
    height: 420px
}

.listSong .song {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: black 0 0 4px;
    background-color: #fff;
}

.listSong .song:last-child{
    margin-bottom: 0;
}

.listSong .song:active {
    background-color: #dbdbdb;
}

.listSong .moreInformation,
.listSong .image,
.listSong .content{
    display: flex;
    justify-content: center;
    align-items: center;
}


.listSong .image {
    width: 70px;
    position: relative;
}

.listSong .image img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100px;
    border: #000 1px solid;
    opacity: 0.9;
}

.listSong .content {
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    
}

.content .content__name {
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .content__author {
    font-size: 13px;
    line-height: 26px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listSong .moreInformation{
    width: 15%;
}


.wave{
    justify-content:center;
    align-items: center;
    position: absolute;
    display: none;
    height: 3.5rem;
    background-color: #7a7676;
    width: 3.5rem;
    border-radius: 100%;
    opacity: 0.7;
}

.display-flex {
    display: flex !important;
}
.items{
    height: 20px;
    width: 4px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 2px;
    animation: wave 0.8s ease-in-out infinite;

}
@keyframes wave{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
.items:nth-child(1){
    animation-delay: 0.1s;
}
.items:nth-child(2){
    animation-delay: 0.2s;
}
.items:nth-child(3){
    animation-delay: 0.3s;
}
.items:nth-child(4){
    animation-delay: 0.2s;
}
.items:nth-child(5){
    animation-delay: 0.1s;
}