* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}


html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

.switch {
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: black 0 0 0.4rem;
    border-radius: 1rem;
    padding: 0.4rem;
    background-color: white;
}

.switch:hover {
    opacity: 0.8;
}

.switch--click {
    padding: 0.3rem;
}

.main ,.musicPlayback, .musicPlayback__songName {
    display: flex;
    flex-direction: column;
}

.main {
    width: 74rem;
    margin: auto;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-around;
}

.main--2 {
    flex-direction: column !important;
    display: flex !important;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: visible;
    width: 100% !important;
}

.musicPlayback,
.listSong,
.listSong .song{
    box-shadow: black 0 0 0.4rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 35rem;
}

.musicPlayback {
    background-color: #f5d1d1;
}

.musicPlayback--2{
    position: fixed;
    top: 2rem;
    z-index: 1;
}

.musicPlayback--scroll {
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 36rem;
}

.musicPlayback__songName {
    margin: auto;
    color :#ed194b;
    font-size: 1.4rem;
}

.musicPlayback__songName h2 {
    display: block;
    color: black;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    text-align: center;
    width: 28rem;
}

.musicPlayback__songName h4 {
    text-align: center;
    font-size: 1.25rem;
}

.musicPlayback__songImage {
    width: 20rem;
    height: 20rem;
    border-radius: 100rem;
    margin: 0 auto;
    border: 0.1rem solid;
}

.musicPlayback__control {
    display: flex;
    justify-content: space-around;
    height: 3.5rem;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.control__return,
.control__previousSong,
.control__nextSong ,
.control__random {
    cursor: pointer;
    color: #5f5e60;
}

.control__return i,
.control__previousSong i,
.control__nextSong i,
.control__random i {
    font-size: 2rem;
}

.activeBtn {
    color: #ed194b;
}

.activeSong {
    background-image: linear-gradient(#fe6433, #ed194b) !important;
    border: #000000 0.1rem solid;
    color: rgb(245, 245, 245);
    text-shadow: 0.1rem 0.1rem #303030;
}

.control__playSong,
.control__playSong .playSong__background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control__playSong .playSong__background{
    background-color: #ed194b;
    border-radius: 10rem;
    width :5rem;
    height: 5rem;
    cursor: pointer;
}

.control__playSong .playSong__background i {
    color: #fff;
    font-size: 2.5rem;
}

.control__playSong .playSong__background:active {
    box-shadow: #ed194b 0 0 0.5rem;
    color: aliceblue;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 1rem 0;
    width: 65%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0 #000000;
    background: rgb(255, 255, 255);
    border-radius: 0.1rem;
    border: 0 solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 #771CFF;
    border: 0 solid #2497E3;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    background: #ED194B;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5rem;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0 #000000;
    background: #ffffff;
    border-radius: 0.1rem;
    border: 0 solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 #771CFF;
    border: 0 solid #2497E3;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    background: #ED194B;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #cbc6d1;
    border: 0 solid #000000;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #cbc6d1;
    border: 0 solid #000000;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 0.1rem;
    box-shadow: 0 0 0 #771CFF;
    border: 0 solid #2497E3;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    background: #ED194B;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #cbc6d1;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #cbc6d1;
  }
  
.musicPlayback__bar {
    display: flex;
    justify-content: space-between;
}

.musicPlayback__volume input[type=range]{
    width: 6rem;
}

.musicPlayback__process input[type=range]{
    width: 26rem;
}

.musicPlayback__time {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.3rem;
}

.listSong {
    overflow-y: scroll;
    background-color: #f5d1d1;
}
.listSong::-webkit-scrollbar {
    display: none;
}

.listSong--2 {
    padding: 0;
    overflow-y:initial !important;
    margin-top: 44rem;
    margin-bottom: 2rem;
    padding: 1rem
}

.listSong--1{
    height: 42rem
}

.listSong .song {
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
    box-shadow: black 0 0 0.4rem;
    background-color: #fff;
}

.listSong .song i {
    font-size: 1.6rem;
}

.listSong .song:last-child{
    margin-bottom: 0;
}

.listSong .song:active {
    background-color: #dbdbdb;
}

.listSong .moreInformation,
.listSong .image,
.listSong .content{
    display: flex;
    justify-content: center;
    align-items: center;
}


.listSong .image {
    width: 7rem;
    position: relative;
}

.listSong .image img {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    border: #000 0.1rem solid;
    opacity: 0.9;
}

.listSong .content {
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    
}

.content .content__name {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .content__author {
    font-size: 1.3rem;
    line-height: 2.6rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listSong .moreInformation{
    width: 15%;
}

.wave{
    justify-content:center;
    align-items: center;
    position: absolute;
    display: none;
    height: 5.6rem;
    background-color: #7a7676;
    width: 5.6rem;
    border-radius: 100%;
    opacity: 0.7;
}

.display-flex {
    display: flex !important;
}
.items{
    height: 2rem;
    width: 0.4rem;
    background: rgb(255, 255, 255);
    border-radius: 5rem;
    margin: 0.2rem;
    animation: wave 0.8s ease-in-out infinite;

}
@keyframes wave{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
.items:nth-child(1){
    animation-delay: 0.1s;
}
.items:nth-child(2){
    animation-delay: 0.2s;
}
.items:nth-child(3){
    animation-delay: 0.3s;
}
.items:nth-child(4){
    animation-delay: 0.2s;
}
.items:nth-child(5){
    animation-delay: 0.1s;
}

@media (max-width: 739px) {
    html {
        font-size: 50%;
    }

    .main {
        margin-top: 2rem;
        width:68rem
    }

    .musicPlayback,
    .listSong{
        width: 32rem;
    }

    .musicPlayback--scroll {
        width: 34rem
    }

    .listSong .song {
        width: 30rem
    }

    .musicPlayback__songImage {
        height: 16rem;
        width: 16rem;
    }

    .listSong--2 {
        margin-top: 38.5rem;
    }

    .listSong--1 {
        height: 37.25rem
    }

    .listSong .image img {
        width: 5rem;
        height: 5rem;
    }

    .musicPlayback__volume input[type=range]{
        width: 5.5rem;
    }
    
    .musicPlayback__process input[type=range]{
        width: 23.5rem;
    }
    .content .content__name {
        font-size: 1.6rem;
    }
    
}